.history-area {
    display:flex;
    flex-direction:column-reverse;
    flex-wrap: nowrap;
    height: 100%;
    width: 104%;
    overflow-y: scroll;
    position: relative;
}

@media only screen and (max-width: 900px) {
    .history-area { 
        width: 106%;
        overflow-x: hidden;
        /* min-width: 350px; */
    }
}