.springHeader {
    width: 100%;
    height: 120px;
    /* background-color: blanchedalmond; */
    display: flex;
}

.springHeader>* {
    color: lime;
}

.springHeaderTitle {
    display: flex;
    align-items: center;
    justify-items: center;
    margin-left: auto;
    margin-right: auto;
}

.springContent {
    display: flex;
    z-index: 100;
    overflow-y: auto;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 40%;
    /* height: calc(100% - 120px); */
    box-sizing: border-box;
    /* background-color: rgb(12, 12, 70); */
    margin-left: auto;
    margin-right: auto;
    align-items: baseline;
    padding: 0;
    column-gap: 0px;
}

@media only screen and (min-width: 1207px) and (max-width: 1820px) {
    .springContent {
        width: 58%;
    }
}

@media only screen and (max-width: 1206px) {
    .springContent {
        width: 70%;
        justify-content: center;
    }
}