.console-trail {
    color: var(--terminal-color);
    word-wrap: anywhere;
    max-width: 98%;

}

.console-trail.error{
    color: red;
}



.console-trail > a:link, .console-trail > a:visited, .console-trail > a:hover {
    color: var(--terminal-color);
}

.console-trail > a:link{
    text-decoration: none;
}

.console-trail > a:hover{
    text-decoration: underline;
}