.caret-blink {
	background-color: rgba(9,214,2,0);
	animation: blink 1.1s infinite linear;
  animation-timing-function: steps(1, end);
}


@keyframes blink {
  0% {
    background-color: rgba(9, 214, 2, 0);
    color: #09d602;
  }
  50% {
    background-color: rgba(9, 214, 2, 100);
    color: #000;
  }
  100% {
    background-color: rgba(9, 214, 2, 0);
    color: #09d602;
  }
  
}