* {
    margin: 0;
    padding: 0;
}

:root {
    background-color: rgb(20, 20, 20);
    --terminal-color: #09d602;
    font-family: monospace;
    --terminal-font-size: 16px;
    font-size: var(--terminal-font-size);
}